<div class="container">
  <h1>Plans</h1>
  <div >
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Price (in $)</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <% if @plans.empty? %>
        <tr>
          <td colspan="4">No Plans Yet!</td>
        </tr>
       <% end %>
        <% @plans.each do|plan| %>
         <tr >
          <td><%= plan.name  %></td>
          <td><%= plan.description  %></td>
          <td><%= plan.price %></td>
          <td><a class="btn btn-primary">Subscribe</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
