<div class="container">
  <h1>Plans</h1>

  <div ng-controller="plansController">
    <div class="row">
      <div class="col-xs-12" style="margin:10">
        <input type="button" value="Create Plan" ng-click="createNewPlan()" class="btn btn-primary" style="float:right;" />
      </div>
    </div>
    <div id="planForm" class="well m-top-20" ng-hide="true">
      <h3>Add a new plan</h3>
      <form ng-submit="addPlan()">
        <%= render "plan_form" %>
      </form>
    </div>
    <div id="plan_feature" ng-hide="true" class="well m-top-20" ng-controller="featuresController">
      <form ng-submit="createFeature()">
        <h4>Plan Features</h4>
        <%= render "form" %>
        <div class="row">
          <div class="col-xs-3">
            </div>
            <div class="col-xs-3 text-center">
              <br />
              <input type="Submit" value="Add Feature" class="btn btn-primary" />
            </div>
        </div>
      </form>
    </div>
    <div id="update_plan_feature" ng-hide="true" class="well m-top-20" ng-controller="featuresController">
      <form ng-submit="updateFeature()">
        <h4>Edit Plan Features</h4>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Plan Name</span>
          </div>
          <div class="col-xs-3">
            <span>{{newFeature.planName}}</span>
          </div>
        </div>
        <%= render "form" %>
        <div class="row">
          <div class="col-xs-3">
            </div>
            <div class="col-xs-3 text-center">
              <br />
              <input type="Submit" value="Update Feature" class="btn btn-primary" />
            </div>
        </div>
      </form>
    </div>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Price (in $)</th>
          <th>Features</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!plans.length">
          <td colspan="4">No Plans Yet!.</td>
        </tr>
        <tr ng-repeat="plan in plans">
          <td>{{ plan.name }}</td>
          <td>{{ plan.description }}</td>
          <td>{{ plan.price }}</td>{{plan.features}}
          <td ng-if="plan.features == '' || plan.features == null" class="middle"><a ng-controller="featuresController" class="btn btn-primary" ng-click="addFeature(plan.id)">Add Feature</a></td>
          <td ng-if="!!plan.features.length"><ul style="list-style-type: none;"><li ng-repeat="feature in plan.features">{{feature.name}} limit : {{feature.limit}}</li></ul></td>
          <td  align="center" style="vertical-align: middle;">
            <a  ng-if="!!plan.features.length" class="btn btn-primary" ng-click="editFeature(plan.id)">Edit Feature</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
